.cartDetls-header {
  text-align: center;
  font-weight: bold;
}
.cart-list {
  margin: 0 10%;
}
.paymentBlock {
  text-align: center;
  margin-top: 5%;
}
.cart-item {
  margin: 10px 0px;
}
.book-image {
  width: 70px;
  height: 70px;
}
